<style>
  .icon-cart {
    height: 100%;
    width: 100%;
  }
  .icon-hamburger {
    height: 100%;
    width: 100%;
  }
</style>

<ul class="nav nav-justified justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="/cart">
      {% include 'icon-cart' %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      {% include 'icon-hamburger' %}
    </a>
  </li>
</ul>
